/* Modal1.module.css */

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;    
    width: 70vw;
    height: 70vh;
    transform: translate(-50%, -50%);    
    border-radius: 15px;
    background-color: #fff;
}

.modalCard {
    height: 50%;
    width: 80%;
    margin: auto;
}

.modalCards {
    display: flex;
    justify-content: space-between;
}

.modalTitle {
    font-size: 20px;
    position: relative;
    left: 90px;
    top: 15px;
    font-weight: bold;
    color: rgb(31, 41, 55);
}

.modalButton {
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    width: 85px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    left: 50vw;
}

.modalButton:hover {
    background-color: rgb(31, 41, 55);
    color: #fff;
    border: rgb(31, 41, 55);
}

.modalButton:active {
    font-weight: 100;
}

.flag, .checked {
    width: 10vw;
    height: 10vw;
    margin: 0px 0px;
}

.closeButton {
    position: absolute;
    top: 10px; 
    right: 10px; 
    cursor: pointer;
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
    color: #999;
}