/* Nationality.module.css */
.background {
    background-color: #a2d6ab;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 60vw;
    border-radius: 15px;
}

.inputContainer {
    width: 50%;
    padding: 20px;
}

.imageContainer {
    background-color: #f5dbc4;
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.logo {
    width: 20vw;
    margin: auto;
}

.img {
    width: 100%;
    transition: transform 0.3s;
}
.img:hover {
    transform: scale(1.05);
}

.error {
    padding-left: 20px;
    color: rgb(255, 100, 100);
}
