.marketTeacherTableWrapper {
    width: 60%; /* 원하는 너비로 조절 */
    margin: 0% auto 0 auto; /* 중앙 정렬 */
    overflow-x: auto; /* 필요한 경우 수평 스크롤 표시 */
}

table {
    width: 100%; /* 표 전체 너비 */
    border-collapse: collapse; /* 테두리 중복 제거 */
}

th,
td {
    padding: 10px 20px; /* 셀 안쪽 패딩 */
    border: 1px solid #dddddd; /* 셀 테두리 */
    text-align: left; /* 텍스트 정렬 */
}

thead {
    background-color: #f2f2f2; /* 헤더 배경색 */
}

thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;  /* 배경색을 지정해주어야 sticky가 동작할 때 테이블 내용이 헤더를 가리지 않습니다. */
    z-index: 1;  /* 다른 요소들 위에 올라오도록 z-index 지정 */
}

.marketTeacherTableWrapper::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

.marketTeacherTableWrapper::-webkit-scrollbar-thumb {
    background: #888; 
}

.marketTeacherTableWrapper::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.marketLeftText {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    left: 20%;
    font-size: 24px;
}

.marketRightText {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    left: 60%;
    font-size: 24px;
}
