.marketStudentTableWrapper {
    width: 100%; /* 원하는 너비로 조절 */
    max-width: 60%;
    margin: 0% auto 0 auto; /* 중앙 정렬 */
    max-height: 25vh; 
    overflow-y: auto;    
    overflow-x: auto; /* 필요한 경우 수평 스크롤 표시 */
    font-family: 'GmarketSansMedium', cursive;
}

.marketHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%; /* 표 전체 너비 */
    border-collapse: collapse; /* 테두리 중복 제거 */
}

th,
td {
    padding: 10px 20px; /* 셀 안쪽 패딩 */
    border: 1px solid #dddddd; /* 셀 테두리 */
    text-align: left; /* 텍스트 정렬 */
}

thead {
    background-color: #f2f2f2; /* 헤더 배경색 */
}

thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;  /* 다른 요소들 위에 올라오도록 z-index 지정 */
}

.marketStudentTableWrapper::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

.marketStudentTableWrapper::-webkit-scrollbar-thumb {
    background: #888; 
}

.marketStudentTableWrapper::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.marketRightText2 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    left: 60%;
    font-size: 24px;
}


.market-asset-card {
    width: 300px;
    height: 50px;
    background: #10B981;
    right: 80%;
    color: white;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 15px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.04) 0px 16px 8px, rgba(0, 0, 0, 0.05) 0px 10px 10px;
    font-family: 'GmarketSansMedium', cursive;
    font-size: 18px;
}