.blackBackground {
    position: absolute;
    height: 15%;
    width: 100%;
    background-color: #747474;
    color: white;
    font-size: 24px;
    z-index: -1;
    display: flex; /* Flexbox를 사용 */
    justify-content: flex-end; /* 내용물을 우측으로 정렬 */
    align-items: center; /* 내용물을 세로 중앙으로 정렬 (필요하다면) */
}   

.blackBackground > * {
    margin-left: 50px;
}
