.company-content-container {
  position: relative;
}

.company-name {
  color: #ffffff;
  font-size: 1.5em;
  margin: 10px;
  width: 100%;
  height: 30px;
  z-index: 9999;
}

.company-image-parent {
  position: relative; /* 상대적인 위치로 설정합니다. */
}
.company-image-child {
  position: absolute;
  left: 35px;
  bottom: -35px;
}

.company-coverimage {
  width: 100%;
  max-height: 280px;
  margin: 0 auto;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.3s;
}

.company-coverimage:hover {
  transform: scale(1.02);
}

.company-covervideo {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.3s;
}
.company-covervideo:hover {
  transform: scale(1.02);
}


.company-description {
  font-size: 0.8em;
  line-height: 160%;
  margin: 20px 13px 20px;
  color: #D1D4DC;
}


/* OUTLINK BTNS */
.outlink-btns {
  display: flex;
  justify-content: center;
}

.outlink-btn {
  position: relative;
  background: #B6B6F7;
  color: #000;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 50px;
  height: 10px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 0.8em;
  background: #ffffff;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 150px;
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  background: #ffffff;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.outlink-btn:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.outlink-btn:hover,
.outlink-btn:hover .tooltip,
.outlink-btn:hover .tooltip::before {
  background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
  color: #ffffff;
}