.section-master {
  position: relative;
}

.section-container {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  height:100vh;

  font-family: 'GmarketSansMedium', cursive;
}

.tab-section {
  flex: 1;
  padding: 10px;
  
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}

.company-content-section {
  flex: 6;
  background-color: #262E3A;
  padding: 20px;
  overflow-y: auto; /* 세로 스크롤 허용 */
  border-radius: 25px;
  border: 4px inset black;
  height: 550px;
}

.stock-trading-section {
  flex: 3;
  overflow: hidden; 
}
