.container {
    width: 80%;
    min-height: 15vh;
    height: auto;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'GmarketSansMedium', cursive;
}

.title {
    position: relative;
    left: 45%;
}
