.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs > * {
  margin: 1px;
}

.radio-input:checked + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}

.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}

.radio-input:checked + .radio-tile .radio-icon svg {
  fill: #2260ff;
}

.radio-input:checked + .radio-tile .radio-label {
  color: #2260ff;
}

.radio-input:focus + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  min-height: 48px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #2260ff;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* ------- 주문가격 x 주문수량 ------ */
.stock-price-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.stock-price-quantity .input.price {
  width: 35px;
  height: 35px;
  background-color: #05060f0a;
  text-align: center;
  border-radius: .5rem;
  padding: 0 0.5rem;
  border: 2px solid transparent;
  font-size: 0.8rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.stock-price-quantity .input.quantity {
  width: 35px;
  height: 35px;
  background-color: #05060f0a;
  text-align: center;
  border-radius: .5rem;
  padding: 0 0.5rem;
  border: 2px solid transparent;
  font-size: 0.8rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.stock-price-quantity .label {
  display: block;
  margin-bottom: .3rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.stock-price-quantity .input:hover, .stock-price-quantity .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.stock-price-quantity .input-group:hover .label, .stock-price-quantity .input:focus {
  color: #05060fc2;
}

.calc-price span {
  font-size: 0.8em;
}

.calc-price-result {
  width: 55px;
  height: 35px;
  background-color: #05060f0a;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* ------ 매도, 매수 버튼 ------ */
.buy-btn {
  border: 2px solid #F65467;
  color: #F65467;
}

.buy-btn:before {
  background-color: #F65467;
}

.sell-btn {
  border: 2px solid #0084ff;
  color: #0084ff;
}

.sell-btn:before {
  background-color: #0084ff;
}

.buy-sell-btn {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.5em 6em;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  font-family: 'GmarketSansMedium', cursive;
  margin-top: 10px;
}

.buy-sell-btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  z-index: -1;
}

.buy-sell-btn:hover, .buy-sell-btn:focus {
  color: white;
}

.buy-sell-btn:hover:before, .buy-sell-btn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.buy-sell-btn:active {
  transform: scale(0.9);
}