.bankBarContainer {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 10vh; /* 뷰포트 높이로 설정 */
    flex-direction: column; /* 주축을 수직으로 설정 */
}

.bankBarBlackBackground {
    height: 70vh; /* 뷰포트 높이의 15%로 수정 */
    width: 25vw; /* 뷰포트 너비의 50%로 수정 */
    background-color: #d9d9d9;
    flex-direction: column; /* 주축을 수직으로 설정 */
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.assetItem {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    margin: 5px 0; /* 상하 마진 */
}

.bankTitleContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;  /* 필요에 따라 조정 */
}

.bankBarTitle {
    font-size: 30px;
    padding-bottom: 4px;
}
