.bankSelectBlackBackground {
    display: flex;
    height: 7vh;
    width: 370px;
    background-color: red;
    color: black;
    font-size: 24px;
    margin-top: 25px;
    margin-left: 20%;
    justify-content: flex-start; /* 왼쪽 정렬을 위해 */
    align-items: center; /* 버튼을 가로선 중앙에 배치 */
    border-radius: 20px 20px 0 0;
}

.bankSelectButtonStyle {
    color: green;
}

.bankSelectButtonWrapperStyle {
    margin-right: 20px;
}

.bankSelectButtonStyle.active {
    background-color: blue;
    color: white;  
}