.bankBarContainer {
    display: flex;
    justify-content: center;  /* 가로 중앙 정렬 */
    align-items: top;      /* 세로 중앙 정렬 */
    height: 100vh;            /* 뷰포트 높이로 설정 */
}

.bankBarBlackBackground {
    height: 15vh;   /* 뷰포트 높이의 15%로 수정 */
    width: 70vw;   /* 뷰포트 너비의 50%로 수정 */
    background-color: #D9D9D9;
    color: black;
    font-size: 24px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 30px;
}
