.bankBarContainer {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 10vh; /* 뷰포트 높이로 설정 */
    flex-direction: column; /* 주축을 수직으로 설정 */
}

.bankBarBlackBackground {
    width: 25vw;
    background-color: #d9d9d9;
    flex-direction: column;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 좌측 정렬을 위해 이 부분을 변경 */
    border-radius: 30px;
    padding-left: 10px; /* 좌측 정렬 시 아이템과 컨테이너 가장자리 사이의 공간을 추가 */
}


.assetItem {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    margin: 5px 0; /* 상하 마진 */
}

.bankTitleContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;  /* 필요에 따라 조정 */
}

.bankBarTitle {
    font-size: 25px;
    padding-bottom: 4px;
}
