.bankContentTableWrapper {
    width: 60%;         /* 원하는 너비로 조절 */
    height: 30vh;      /* 높이를 뷰포트 높이로 설정 */
    margin: auto;       /* 가운데 정렬 */
    max-height: 24vh; 
    overflow-y: auto;  
    overflow-x: auto;   /* 필요한 경우 수평 스크롤 표시 */
    font-family: 'GmarketSansMedium', cursive;
}

table {
    width: 80%;                  /* 표 전체 너비 */
    border-collapse: collapse;   /* 테두리 중복 제거 */
    margin: auto;                /* 표를 가운데 정렬 */
}

th,
td {
    padding: 10px 20px;          /* 셀 안쪽 패딩 */
    border: 1px solid #dddddd;   /* 셀 테두리 */
    text-align: left;            /* 텍스트 정렬 */
}

thead {
    background-color: #f2f2f2;   /* 헤더 배경색 */
}

.bankContentTableWrapper::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

.bankContentTableWrapper::-webkit-scrollbar-thumb {
    background: #888; 
}

.bankContentTableWrapper::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
