body {
    margin: 0;
    font-family: netmarbleB, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Webkit 관련 스타일 무효화 */
*::-webkit-scrollbar {
    width: 0;  
    height: 0; 
}

/* 폰트 */
@font-face {
    font-family: 'netmarbleB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* inner */
.inner {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}


/* Animations */
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }

  /* GAP */
  .gap {
    margin: 2px;
  }

  .big-gap {
    margin: 5px;
  }

  .mega-gap {
    margin: 13px;
  }
