/* Dashboard.module.css */
.card {
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 2vw;
}

.cardTitle {
    font-size: 40px;
}

.cardContent {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    border-radius: 16px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}
