.header {
    padding: 5px;
    background-color: #1C8A51;
    border-bottom: 2px solid black;
  }

  .header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .left-side, .right-side {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .header .logo {
    width: 200px;
    margin-left: 10px;
  }
  
  .header .links {
    display: flex;
    flex-wrap: wrap;
  }
  
  .header .links a {
    margin: 15px;
    text-decoration: none;
    color: #e1e1e1;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    display: flex;
  }

  .navbar-btn {
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }

  .navbar-btn:focus,
  .navbar-btn:hover {
    color: #fff;
  }

  .navbar-btn:focus:after,
  .navbar-btn:hover:after {
    width: 100%;
    left: 0%;
  }

  .navbar-btn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  /* --------- ASSET CARD --------- */
  .asset-card {
    background-color: #f0f4f8;
    box-shadow: 0 30px 30px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    width: 140px;
    max-height: 65px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .asset-card:hover {
    background-color: #ffffff;
    transform: translateY(2px);
}

  .asset-card:active {
      transform: translateY(0);
  }
    
  .asset-card .title {
    display: flex;
    align-items: center;
    margin: -5px 5px 0 5px;
  }
  
  .asset-card .title span {
    position: relative;
    padding: 0.5rem;
    background-color: #10B981;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 9999px;
  }
  
  .asset-card .title span svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    height: 0.8rem;
  }
  
  .asset-card .title-text {
    margin-left: 0.5rem;
    color: #374151;
    font-size: 15px;
  }

  .asset-card .data p {
    text-align: right;
    color: #1F2937;
    font-size: 1rem;
    font-weight: 700;
    margin-top: -10px;
    margin-right: 10px;
  }
  
  .asset-card .data p span {
    color: #10B981;
  }
