.header {
    padding: 5px;
    background-color: #1C8A51;
    border-bottom: 2px solid black;
  }

  .header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-side, .right-side {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header .logo {
    width: 200px;
    margin-left: 10px;
  }
  
  .header .links a {
    margin-right: 10px;
    text-decoration: none;
    color: #e1e1e1;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .navbar-btn {
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }

  .navbar-btn:focus,
  .navbar-btn:hover {
    color: #fff;
  }

  .navbar-btn:focus:after,
  .navbar-btn:hover:after {
    width: 100%;
    left: 0%;
  }

  .navbar-btn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  .asset-card {
    width: 100px;
    height: 50px;
    background: rgb(17, 4, 134);
    border-radius: 15px;
    box-shadow: rgba(4, 30, 8, 0.7) 5px 10px 50px ,rgba(39, 128, 40, 0.7) -5px 0px 250px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .asset-card:hover {
    box-shadow: rgba(17, 154, 38, 0.7) 5px 10px 10px ,rgba(21, 155, 39, 0.7) -5px 0px 20px;
  }
  
  .asset-key {
    font-size: 0.8em;
    margin-left: 5px;
  }
  
  .asset-value {
    font-size: 1em;
    margin-left: 15px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  